{% extends "base.html" %}
{% block content %}
<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="../static/img/capstone.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-4">UCSB Computer Engineering Capstone</h1>
      </div>
    </div>
  </div>
</header>
<div>
  <br>
  <div class="container-sm">
    <div class="d-flex justify-content-center">
      <div class="p-2">
        <h4>Computer Engineering Capstone Projects</h4>
        <h6>Instructor: Dr. Yogananda Isukapalli</h6>
        <img src="../static/img/group_pictures/2019.png" class="img-fluid" style="width: 60rem;"><br><br>
        ECE 189A/B/C is a year-long capstone project course sequence in which Computer Engineering (CE) senior students at UC Santa Barbara design and implement an embedded computer system. Working in small groups of three to five, the teams draw on the strengths of each member, and projects are intended to be the culmination of the students' undergraduate education, incorporating both significant hardware and software components and, in some cases, mechanical components as well. CE Capstone Projects offer students real-world experience in the lifespan of developing an embedded system: identifying a problem, designing to required specifications, managing budgets and printed circuit board fabrication, and delivering their finished product on time. CE capstone projects fall into several categories: 
        <ol>
          <li>Student defined: Students come up with the design idea on their own.</li>
          <li>Industry sponsored: Industry partner specifies a design challenge.</li>
          <li>Research group: Research group at UCSB poses a design challenge.</li>
          <li>Competitions:  Students enter as contestants in an organized competition.</li> 
          <li>Nonprofit organizations: Projects that can be of use for nonprofit organizations.</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="bg-dark text-white">
  <br>
  <div class="d-flex flex-row flex-wrap justify-content-center container-sm">
    <div class="p-2">
      <h5><a href="projects" target="_blank" style="color: inherit; text-decoration: inherit;">Eternal Flight: Winner of 2019 Qualcomm CE Capstone Award</a></h5>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/wcj48JE5Xk4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="p-2">
      <h5><a href="projects" target="_blank" style="color: inherit; text-decoration: inherit;">Hyperloop: Winner of 2018 SpaceX Levitation Competition</a></h5>
      <div class="embed-responsive embed-responsive-16by9" style="padding-bottom: 4%;">
        <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/AsJA7Mei5-o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <br>
</div>
<div class="container">
  <br>
  <div class="container-sm d-flex flex-wrap justify-content-center">
    <div class="p-2"><h3>Capstone is made possible through the support from our sponsors</h3></div>
  </div>
  <div class="container-sm d-flex flex-wrap justify-content-center">
    <div class="p-2"><h6>Lead Sponsor of CE Capstone Program</h6></div>
  </div>
  <div class="container-sm d-flex flex-wrap justify-content-center">
    <div class="p-2"><a href="https://www.qualcomm.com" target="_blank"><img style="width:40%; height:100%; display: block; margin-left: auto; margin-right: auto;" class="img-fluid" src="../static/img/sponsors/current_sponsors/qualcomm.png"></a></div>
  </div>
  <br>
  <section class="customer-logos slider">
    {% for sponsor in sponsors %}
    <a href="{{ sponsor.website }}" target="_blank"><div class="slide"><img src="{{ sponsor.imgpath }}"></div></a>
    {% endfor %}
  </section>
  <br>
</div>
{% endblock %}