{% extends "base.html" %}
{% block content %}
<div style="background:  #e6ecff;">
<br>
<h3 class="d-flex flex-row justify-content-center">CE Capstone Projects</h3>
<div class="d-flex flex-row justify-content-center">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{year-1}}-{{year}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for i in range(current_year, 2016, -1)%}
      <a class="dropdown-item" href="{{ url_for('projects', year=i)}}">{{i-1}}-{{i}}</a>
      {% endfor %}
      <a class="dropdown-item" target="_blank" href="{{ url_for('static', filename='img/projects/projects_2016.pdf')}}">2015-2016</a>
      <a class="dropdown-item" target="_blank" href="{{ url_for('static', filename='img/projects/projects_2015.pdf')}}">2014-2015</a>
      <a class="dropdown-item" target="_blank" href="{{ url_for('static', filename='img/projects/projects_2014.pdf')}}">2013-2014</a>
      <a class="dropdown-item" target="_blank" href="{{ url_for('static', filename='img/projects/projects_2013.pdf')}}">2012-2013</a>
      <a class="dropdown-item" target="_blank" href="{{ url_for('static', filename='img/projects/projects_2012.pdf')}}">2011-2012</a>
      <a class="dropdown-item" target="_blank" href="{{ url_for('static', filename='img/projects/projects_2011.pdf')}}">2010-2011</a>
      <a class="dropdown-item" target="_blank" href="{{ url_for('static', filename='img/projects/projects_2010.pdf')}}">2009-2010</a>
      <a class="dropdown-item" target="_blank" href="{{ url_for('static', filename='img/projects/projects_2009.pdf')}}">2008-2009</a>
      <a class="dropdown-item" target="_blank" href="{{ url_for('static', filename='img/projects/projects_2008.pdf')}}">2007-2008</a>
      <a class="dropdown-item" target="_blank" href="{{ url_for('static', filename='img/projects/projects_2007.pdf')}}">2006-2007</a>
      <a class="dropdown-item" target="_blank" href="{{ url_for('static', filename='img/projects/projects_2006.pdf')}}">2005-2006</a>
      <a class="dropdown-item" target="_blank" href="{{ url_for('static', filename='img/projects/projects_2005.pdf')}}">2004-2005</a>
      <a class="dropdown-item" target="_blank" href="{{ url_for('static', filename='img/projects/projects_2004.pdf')}}">2003-2004</a>
      <a class="dropdown-item" target="_blank" href="{{ url_for('static', filename='img/projects/projects_2003.pdf')}}">2002-2003</a>
    </div>
  </div>
</div>
<p></p>
<div class="d-flex flex-row flex-wrap justify-content-center">
  {% for project in projects %}
  <a class="btn btn-light" href="#{{ project.name }}" role="button">{{ project.name }}</a>
  {% endfor %}
</div>
{% if year_picture %}
<p></p>
<div class="container-sm">
  <div class="d-flex flex-row justify-content-center">
    <div class="p-2">
      <img src="{{ url_for('static', filename=year_picture)}}" class="img-fluid" style="width: 50rem;">
    </div>
  </div>
</div>
{% endif %}
{% for project in projects %}
<br>
<div class="d-flex flex-row justify-content-center" id="{{ project.name }}">
  <div class="p-2 container card bg-light" style="width: 45rem;">
    <div class="card-body">
      <h3 class="card-title text-center">
        {{ project.name }}
        {% if project.logo_path %}
        <img src="{{ url_for('static', filename=project.logo_path) }}" class="img-thumbnail" style="max-width: 100px">
        {% endif %}
      </h3>
      {% if project.video %}
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="{{ project.video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <br>
      {% endif %}
      <h5 class="text-center">Members</h5>
      <div class="d-flex flex-row flex-wrap justify-content-center">
        {% for student in project.students %}
        <a href="{{student.linkedin}}" target="_blank" style="text-decoration: none;">
          <div class="p-2 text-center">
            <img class="img-fluid rounded-circle" style="max-width: 100px;" src="{{ url_for('static', filename=student.image_path) }}">
            <br>
            <span style="text-decoration: none; color: black;">{{ student.name }}</span>
          </div>
        </a>
        {% endfor %}
      </div>
      <p></p>
      <h5 class="text-center">Description</h5>
      <p>
      {{ project.description }}
      </p>
      {% if project.resources_available %}
      <h5 class="text-center">Resources</h5>
      <div class="card-action text-center" style="word-spacing: 20pt;">
        {% for resource in project.resources %}
        <a target="_blank" href="{{resource.link}}">{{resource.info}}</a>
        {% endfor %}
      </div>
      {% endif %}
      <p></p>
      {% if project.sponsors %}
        <h5 class="text-center">Sponsors</h5>
        <div class="card-action text-center">
          {% for sponsor in project.sponsors %}
            <a target="_blank" href="{{sponsor.website}}">{{sponsor.name}}</a><br> 
          {% endfor %} 
        </div>
      {% endif %}
    </div>
  </div> 
</div>
{% endfor %}
</span>
{% endblock %}