{% extends "base.html" %}
{% block content %}
 <div class="container">
  <br>
  <h3 class="d-flex flex-row justify-content-center">CE Capstone Projects - Schedule</h3>
  <h6 class="d-flex flex-row justify-content-center">Dr. Yogananda Isukapalli</h6>
  <br>
  <div>
    <p>
      During the Fall quarter of this course sequence, student groups choose a project, define and refine a description of its external behavior, then launch into the hardware design phase. By the end of fall quarter, using industry standard Computer Aided Design tools, they have produced detailed hardware schematics, fabrication-ready printed circuit board artwork, and complete component kits and associated documentation necessary for prototype assembly. An organized project notebook describing all aspects of the project as well as formal design reviews/presentations and the use of professional project management software complete the initial portion of the capstone design experience.
    </p>
    <p>
      All students are expected to submit a weekly report describing their specific individual contribution to the project in that week. Instructor will discuss the details of weekly report with the students in the weekly meeting. At the end of each quarter, all groups have to present/demo their project in front of the whole class.
    </p>
    <p>
      During winter quarter, the printed circuit boards (PCB) are fabricated and assembled. While the PCB is getting ready, the focus shifts to software development on a development kit that is closest to the custom hardware and any mechanical components are acquired and/or manufactured and assembled. Once the hardware design is validated and the software and mechanical development efforts are completed, the final project prototype is integrated, tested and verified. A succession of milestones, reviews and presentations ensures that project completion occur in a timely and successful manner.
    </p>
    <p>
      At the end of spring quarter, each project team participates in the Computer Engineering portion of the Senior Capstone Project Presentation Day. During the day long event, the groups display posters highlighting their projects' features and operation and conduct a public presentation and demonstration of the completed projects. 
    </p>
    <h3 class="d-flex flex-row justify-content-center">Course Milestones</h3>
    <p></p>
    <h5 class="d-flex flex-row justify-content-center"><strong>Fall Quarter</strong></h5>
    <ul class="timeline">
      <li>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h5 class="timeline-title"><strong>Project Idea and Team Formation</strong></h5>
          </div>
          <div class="timeline-body">
            <p>List of team members, conceptual drawing and brief overview "datasheet" of the project with preliminary block diagram.</p>
          </div>
        </div>
        <div class="timeline-badge"></div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-panel">
          <div class="timeline-heading">
            <small>Week 2</small>
            <h5 class="timeline-title"><strong>Refined Project</strong></h5>
          </div>
          <div class="timeline-body">
            <p>Annotated block diagram, external behavioral specification and identification of the role to be played by each team member.</p>
          </div>
        </div>
        <div class="timeline-badge"></div>
      </li>
      <li>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h5 class="timeline-title"><strong>System-level Design</strong></h5>
          </div>
          <div class="timeline-body">
            <p>Subsystem requirements & specifications, software flow, and interface specs. </p>
          </div>
        </div>
        <div class="timeline-badge"></div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h5 class="timeline-title"><strong>Detailed Design</strong></h5>
          </div>
          <div class="timeline-body">
            <p>Schematic drawings, and (if programmable logic is being used) Verilog or VHDL sources with both functional and timing simulations.</p>
            <p>Software development begins on a development kit that is closest to the custom hardware.</p>
          </div>
        </div>
        <div class="timeline-badge"></div>
      </li>
      <li>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h5 class="timeline-title"><strong>Implementation of the Hardware Design</strong></h5>
          </div>
          <div class="timeline-body">
            <p>Artwork for fabricating the printed circuit board (PCB), including Gerber plots, final schematics, engineering drawing, assembly drawing. Submittal of Gerber files to Sunstone Circuits.</p>
          </div>
        </div>
        <div class="timeline-badge"></div>
      </li>
    </ul>
    <h5 class="d-flex flex-row justify-content-center"><strong>Winter Quarter</strong></h5>
    <ul class="timeline">
      <li>
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>
              Software development on a development kit that is closest to the custom hardware. Procurement of components for PCB's, creation of complete assembly kits.
            </p>
          </div>
        </div>
        <div class="timeline-badge"></div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>Printed Circuit Board fabrication returns.</p>
          </div>
        </div>
        <div class="timeline-badge"></div>
      </li>
      <li>
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>PCB should be sent for assembly. Assembly kit should have: bagged parts, assembly drawing and Bill of Materials.</p>
          </div>
        </div>
        <div class="timeline-badge"></div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>Assembled PCB returns, software development continues. </p>
          </div>
        </div>
        <div class="timeline-badge"></div>
      </li>
      <li>
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>Apply power to board with no shorts, correct regulated voltages, currents within spec, etc.</p>
          </div>
        </div>
        <div class="timeline-badge"></div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>Demonstrate execution of user code via the 'Hello World' program, flashing LED', etc.</p>
          </div>
        </div>
        <div class="timeline-badge"></div>
      </li>
    </ul>
    <h5 class="d-flex flex-row justify-content-center"><strong>Spring Quarter</strong></h5>
    <ul class="timeline">
      <li>
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>In spring quarter most of the focus will be on software development. main() with infinite loop; polling/interrupt structure of peripheral control demonstrated.</p>
          </div>
        </div>
        <div class="timeline-badge"></div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>Independent software control of all sensors, motors, wireless, displays, etc. Systems exercised and communicating through common main().</p>
          </div>
        </div>
        <div class="timeline-badge"></div>
      </li>
      <li>
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>Final integration of 'Controls Indicators & Interconnect' and full system operation.</p>
          </div>
        </div>
        <div class="timeline-badge"></div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>Test the system extensively and prepare for final presentation and demo of the project.</p>
          </div>
        </div>
        <div class="timeline-badge"></div>
      </li>
      <li>
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>Work on presentation material: Posters, demo videos, website and final presentation slides.</p>
          </div>
        </div>
        <div class="timeline-badge"></div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-panel">
          <div class="timeline-body">
            <p><strong>Capstone Presentation Day!</strong></p>
          </div>
        </div>
        <div class="timeline-badge"></div>
      </li>
    </ul>
  </div>
</div>
{% endblock %}